books {
    display: block;
    width: 100%;
    background-color: green;
    background-repeat: no-repeat;
    background-position: 80% 10px;
    margin: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    }
    book {
    display: block;
    background-color: blue;
    width: 50%;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: 10px;
    }
    author, publisher, price, contentType, format, isbn {
    display: block;
    background-color: red;
    font-size: x-small;
    padding: 2px;
    }
    title {
    display:block;
    color: violet;
    font-size: medium;
    }

    
